@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arbutus+Slab&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$modra:rgba(4, 208, 239, 1);
$seda:rgb(32, 31, 31, 1);
$cerna: rgb(16, 16, 16, 1);
$poppins: "Poppins", serif;
$inter: "Inter", sans-serif;

main{
    display: flex;
    flex-direction: column;
    background-color: $cerna;
    width: 100%;
}

// <-----------------------------Section1----------------------------->


.Section1 {
    background-color: $cerna;
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100%;
    position: relative;
}

.Section1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; 
    background: $modra;
    filter: blur(10px);
}

// <-----------------------------Profile----------------------------->

.Profile-About-Page{
    height: 85vh;
    width: 43vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Circle{
    height: 56vh;
    width: 28.23vw;
    background-color: $seda;
    border-radius: 50%;
    border: 2px solid $modra;
}

// <-----------------------------Profile----------------------------->


// <-----------------------------Profile-obsah----------------------------->

.About-Obsah{
    height: 85vh;
    width: 57vw;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.Nadpis{
    height: 15vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.Nadpis h1{
    color: $modra;
    font-family: $poppins;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}

.About-text{
    height: 45vh;
    width: 86%;

    h2{
        color: white;
        text-align: left;
        font-family: $poppins;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 5px;
    }

     p{
        color: white;
        text-align: left;
        font-size: 1.10rem;
        font-family: $poppins;
        font-weight: 300;
        font-style: normal;
        width: 83%;
    }
}

// <-----------------------------Profile-obsah----------------------------->


// <-----------------------------Section1----------------------------->



// <-----------------------------Section2----------------------------->

.Section2{
    display: flex;
    height: 106vh;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.Section2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; 
    background: $modra;
    filter: blur(10px);
}

.Nadpis-Section2{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.2rem;

    .Nadpis2{
        margin-top: 90px;
    }
}

.Section2-Obsah{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// <-----------------------------Tools----------------------------->

.Section2-tools{
    min-height: 72vh;
    width: 91.09vw;
    background-color: $seda;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
}

.Section2-tools-1{
    height: 72vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    // <-----------------------------VScode----------------------------->

    .Section2-VScode{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 8.8vh;
        width: 28vw;
        background-color: $cerna;
        border-radius: 20px;
        margin-left: 40px;

        .Section-2-textp{
            color: white;
            text-align: center;
            font-size: 1.9rem;
            width: 90%;
            font-family: $inter;
            font-optical-sizing: auto;
            font-weight: 350;
            font-style: normal;
        }
    }

    .VScode-Icon{
        height: 9vh;
        width: 5.5vw;
        background-color: $modra;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .VScode-Icon > img{
        height: 7vh;
    }

    // <-----------------------------VScode----------------------------->

    // <-----------------------------Figma----------------------------->

    .Section2-Figma{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 8.8vh;
        width: 28vw;
        background-color: $cerna;
        border-radius: 20px;
        margin-left: 40px;

        .Section-2-textp{
            color: white;
            text-align: center;
            font-size: 1.9rem;
            width: 90%;
            font-family: $inter;
            font-optical-sizing: auto;
            font-weight: 350;
            font-style: normal;
        }
    }

    .Figma-Icon{
        height: 9vh;
        width: 5.5vw;
        background-color: $modra;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .Figma-Icon img{
        height: 7vh;
    }

     // <-----------------------------Figma----------------------------->

     // <-----------------------------GitHub----------------------------->

    .Section2-GitHub{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 8.8vh;
        width: 28vw;
        background-color: $cerna;
        border-radius: 20px;
        margin-left: 40px;

        .Section-2-textp{
            color: white;
            text-align: center;
            font-size: 1.9rem;
            width: 90%;
            font-family: $inter;
            font-optical-sizing: auto;
            font-weight: 350;
            font-style: normal;
        }
    }

    .GitHub-Icon{
        height: 9vh;
        width: 5.5vw;
        background-color: $modra;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .GH-Icon{
        height: 7vh;
    }
    
    // <-----------------------------GitHub----------------------------->
}

.Section2-Decoration{
    height: auto;
    width: 21.09vw;
}


.Section2-tools-2{
    height: 72vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;

    // <-----------------------------ChatGPT----------------------------->

    .Section2-ChatGPT{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 8.8vh;
        width: 28vw;
        background-color: $cerna;
        border-radius: 20px;
        margin-left: 35px;

        .Section-2-textp{
            color: white;
            text-align: center;
            font-size: 1.9rem;
            width: 90%;
            font-family: $inter;
            font-optical-sizing: auto;
            font-weight: 350;
            font-style: normal;
        }
    }

    .ChatGPT-Icon{
        height: 9vh;
        width: 5.5vw;
        background-color: $modra;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .ChatGPT-Icon img{
        height: 7.5vh;
    }

    // <-----------------------------ChatGPT----------------------------->

    // <-----------------------------GIMP----------------------------->

    .Section2-GIMP{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 8.8vh;
        width: 28vw;
        background-color: $cerna;
        border-radius: 20px;
        margin-left: 35px;

        .Section-2-textp{
            color: white;
            text-align: center;
            font-size: 1.9rem;
            width: 90%;
            font-family: $inter;
            font-optical-sizing: auto;
            font-weight: 350;
            font-style: normal;
        }
    }

    .GIMP-Icon{
        height: 9vh;
        width: 5.5vw;
        background-color: $modra;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .GIMP-Icon img{
        height: 7vh;
    }

    // <-----------------------------GIMP----------------------------->

    // <-----------------------------FontAwesome----------------------------->

    .Section2-FontAwesome{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 8.8vh;
        width: 28vw;
        background-color: $cerna;
        border-radius: 20px;
        margin-left: 35px;

        .Section-2-textp{
            color: white;
            text-align: center;
            font-size: 1.9rem;
            width: 90%;
            font-family: $inter;
            font-optical-sizing: auto;
            font-weight: 350;
            font-style: normal;
        }
    }

    .FontAwesome-Icon{
        height: 9vh;
        width: 5.5vw;
        background-color: $modra;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .FA-Icon{
        height: 5vh;
    }

    // <-----------------------------FontAwesome----------------------------->
}

 // <-----------------------------Decoration----------------------------->

.Section2-Decoration{
    display: flex;
    justify-content: space-around;
    align-items: center;

    // <-----------------------------Line----------------------------->

 .Section2-Line{
    height: 66vh;
    width: 2px;
    background-color: $modra;
    transform: rotate(27deg);
    position: relative;

    &::before,
    &::after {
        content: "";
        width: 8px; 
        height: 8px;
        background-color: $modra;
        border-radius: 50%;
        position: absolute;
    }

    &::before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &::after {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
 }

    // <-----------------------------Line----------------------------->

    // <-----------------------------Microchip----------------------------->

    #Section2-Microchip{
        position: relative;
        top: -150;
    }

    .Section2-Microchip{
        height: 15.375vh;
        color: $modra;
    }

    // <-----------------------------Microchip----------------------------->

    // <-----------------------------Code----------------------------->

    #Section2-Code{
        position: relative;
        top: 150px;
    }

    .Section2-Code{
        height: 15.375vh;
        color: $modra;
    }

    // <-----------------------------Code----------------------------->
}

 // <-----------------------------Decoration----------------------------->

// <-----------------------------Section2----------------------------->



// <-----------------------------Section3----------------------------->

.Section3{
    display: flex;
    flex-direction: column;
    height: 109vh;
    width: 100%;
}

.Nadpis-Section3{
    height: 20vh;
    width: 100%;
    text-align: start;
    position: relative;
    font-size: 1.2rem;

    .Nadpis3{
        margin-top: 90px;
        width: 32%;
    }
}

.Section3-obsah{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .Section3-languages-1{
        height: 38vh;
        width: 85vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    // <-----------------------------HTML----------------------------->

    .Section3-HTML{
        display: flex;
        flex-direction: column;

        .Section3-languages-HTML{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32vh;
            width: 16vw;
            border-radius: 18px;
            border: 1.5px $modra solid;
            background-color: $seda;
         
        }
    }

    .Section3-languages-HTML-text{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px;
        color: $modra;
        font-family: $poppins;
        font-size: 1.4rem;
    }

    // <-----------------------------HTML----------------------------->


    // <-----------------------------CSS----------------------------->

    .Section3-CSS{
        display: flex;
        flex-direction: column;

        .Section3-languages-CSS{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32vh;
            width: 16vw;
            border-radius: 18px;
            border: 1.5px $modra solid;
            background-color: $seda;
         
        }
    }

    .Section3-languages-CSS-text{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px;
        color: $modra;
        font-family: $poppins;
        font-size: 1.4rem;
    }

    // <-----------------------------CSS----------------------------->

    // <-----------------------------JavaScript----------------------------->

    .Section3-JavaScript{
        display: flex;
        flex-direction: column;

        .Section3-languages-JavaScript{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32vh;
            width: 16vw;
            border-radius: 18px;
            border: 1.5px $modra solid;
            background-color: $seda;
         
        }
    }

    .Section3-languages-JavaScript-text{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30px;
        color: $modra;
        font-family: $poppins;
        font-size: 1.4rem;
    }

    // <-----------------------------JavaScript----------------------------->

}


// <-----------------------------Section3----------------------------->