@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arbutus+Slab&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$modra:rgba(4, 208, 239, 1);
$seda:rgb(32, 31, 31, 1);
$cerna: rgb(16, 16, 16, 1);
$poppins: "Poppins", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-content{
  background-color: $cerna;
  height: 100vh;
  width: 100%;
}

// <-----------------------------Text-conntent----------------------------->

.Main{
  width: 100%;
  display: flex;
}

.text-content-main {
    display: flex;
    min-height: 85vh;
    width: 52vw;
}

.text-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: start;
    position: relative;
    gap: 8px;
    top: 95px;
    width: 100%;
    max-height: 60vh;
}

h1 {
    color: white;
    font-size: 3.6em;
    font-family: $poppins;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: $modra;
    font-size: 2.3em;
    text-align: center;
    width: 70%;
    font-family: $poppins;
    font-weight: 600;
    position: relative;
    top: -7px;
}

.content-obsah {
    color: white;
    font-size: 1.1em;
    font-family: $poppins;
    font-weight: 300;
    font-style: normal;
    width: 35vw;
    text-align: left;
    min-height: 15vh;
    display: flex;
    align-items: center;
}

.content-obsah-text{
  width: 32vw;
  line-height: 28px;
}

// <-----------------------------Text-conntent----------------------------->


// <-----------------------------Buttons----------------------------->

.Buttons{
  min-height: 20vh;
  width: 35vw;
  display: flex;
  align-items: center;
}

.Buttons-obsah{
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: start;
  gap: 50px;
}

.Buttons-obsah button{
  height: 8.6vh;
  width: 13.5vw;
  font-size: 1.690em;
  color: white;
  font-family: $poppins;
  font-weight: 390;
  font-style: normal;
  text-align: center;
  background-color: $seda;
  border-radius: 50px;
  border: 3px solid $modra;
  cursor: pointer;
  transition: background-color 400ms ease-in-out, color 400ms ease-in-out;

  &:hover{
    background-color: $modra;
  }

}

// <-----------------------------Buttons----------------------------->


// <-----------------------------Profil-content----------------------------->

.Profile-content{
  display: flex;
  min-height: 85vh;
  width: 48vw;
  justify-content: center;
  align-items: start;
}

.Profile{
  min-height: 78vh;
  min-width: 30.5vw;
  border-radius: 50px ;
  background-color: $seda;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: 35px;
  top: 25px;

  .Profile-place{
    height: 40vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 52px;


    .Profile-picture{
      height: 38vh;
      width: 19vw;
      border-radius: 10%;
      background-color: $cerna;
      border: 2px solid $modra;
    }
  
  }

  .Profile-name{
    width: 30vw;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Social-media-icons{
    height: 9.5vh;
    width: 24.17vw;
    background-color: $cerna;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    .button-icons{
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 25px;  
    }

    .button-icon{
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .i-icon{
      height: 5.625vh;
      width: 4vw;
      color: white;
      transition: ease-out 300ms ;


      &:hover{
        color: $modra;
      }
    }
  }
}

// <-----------------------------Profil-content----------------------------->


// <-----------------------------Responsive for mobile----------------------------->

@media (max-width: 768px) {
  .Navbar {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .Navbar .link-item {
    font-size: 1.2em;
  }
}